{
  "parser": "@babel/eslint-parser",
  "extends": ["airbnb-base", "plugin:prettier/recommended"],
  "env": {
    "commonjs": true,
    "es2021": true,
    "node": true,
    "browser": false
  },
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": false
    },
    "requireConfigFile": false,
    "babelOptions": {
      "babelrc": false,
      "configFile": false,
      "presets": ["@babel/preset-env"]
    },
    "sourceType": "module"
  },
  "globals": {
    "strapi": true
  },
  "plugins": ["prettier", "sort-destructure-keys"],
  "rules": {
    "consistent-return": "warn",
    "indent": [
      "error",
      "tab",
      {
        "SwitchCase": 1
      }
    ],
    "linebreak-style": ["error", "windows"],
    "no-console": 0,
    "no-tabs": "off",
    "no-use-before-define": "error",
    "prettier/prettier": "error",
    "sort-destructure-keys/sort-destructure-keys": [
      "error",
      { "caseSensitive": true }
    ]
  }
}